* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(26,31,30,1) 35%, rgba(0,212,255,1) 100%);

}
h1,h2,  h3{
    color: #f4f4f4;
}

#formulario{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
    border-style: solid;
    border-color: black;
    margin: 500px 500px;
    padding: 10px 15px;
}

.modal{ 
    visibility: hidden;
    opacity: 0;
}

.modal:active { 
    visibility: visible; 
   opacity: 1;
    z-index: 1200;
    margin: 20 0;
}

.imagen-cover{
    width: 100px;
    height: 80px;
    text-align: center;
}

.contenedor-elementos{
    display: flex;
    justify-content: center;
}

.bg{
    background: rgb(10,7,22);
background: linear-gradient(0deg, rgba(10,7,22,1) 28%, rgba(0,212,255,1) 100%);
}

nav{
    border-bottom: ridge;
    border-color: grey;
    left: 0;
    margin: 0;
}

.card-title{
    color: black;
}

.contenedor-compra{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}