body{
    background-color:gainsboro;
}
h1{
    color: black;
}

#formulario{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: bisque;
    border-style: groove;
    margin: 0 500px 500px;
    padding: 10px 15px;
}

#formulario{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: bisque;
    border-style: groove;
    margin: 0 500px 500px;
    padding: 10px 15px;
}

#formulario2{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: bisque;
    border-style: groove;
    margin: 0 500px 500px;
    padding: 10px 15px;
}

#formulario3{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: bisque;
    border-style: groove;
    margin: 0 500px 500px;
    padding: 10px 15px;
}

#formulario4{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: bisque;
    border-style: groove;
    margin: 0 500px 500px;
    padding: 10px 15px;
}

.boton-cerrar{
    float: inline-end;
    right: 0;
    cursor: pointer;
    border-radius: 10%;
    border-color: black;
    border-style: groove;
    border-width: 1px;

}

.modal{ 
    visibility: hidden;
    opacity: 0;
}

.modal:active { 
    visibility: visible; 
   opacity: 1;
    z-index: 1200;
    margin: 20 0;


}
