body{
    background-color:gainsboro;
}
h1{
    color: black;
}

#formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: bisque;
    border-style: groove;
    margin: 0 550px;
}

.modal{ 
    visibility: hidden; 
    opacity: 0; 
    transition: all .3s ease-in-out;}

.modal:active { 
    visibility: visible; 
    opacity: 1;}